<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MadoMagiDataCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataCounterTrial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MadoMagiDataCounter.Properties.Settings>
            <setting name="CreditsTitle" serializeAs="String">
                <value>Credits</value>
            </setting>
            <setting name="PayoutsTitle" serializeAs="String">
                <value>Payouts</value>
            </setting>
            <setting name="ReturnTitle" serializeAs="String">
                <value>Return Rate</value>
            </setting>
            <setting name="TimerTitle" serializeAs="String">
                <value>Play Time</value>
            </setting>
            <setting name="SmallBonusTitle" serializeAs="String">
                <value>プチBONUS</value>
            </setting>
            <setting name="BigBonusTitle" serializeAs="String">
                <value>BIG BONUS</value>
            </setting>
            <setting name="AlertTitle" serializeAs="String">
                <value>Alarm</value>
            </setting>
            <setting name="Unk1Title" serializeAs="String">
                <value>?? 1</value>
            </setting>
            <setting name="Unk2Title" serializeAs="String">
                <value>?? 2</value>
            </setting>
            <setting name="LastCOM" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="SpinCountTitle" serializeAs="String">
                <value>Spins</value>
            </setting>
            <setting name="GameCountTitle" serializeAs="String">
                <value>Rounds</value>
            </setting>
        </MadoMagiDataCounter.Properties.Settings>
        <DataCounterTrial.Properties.Settings>
            <setting name="CreditsTitle" serializeAs="String">
                <value>Credits</value>
            </setting>
            <setting name="PayoutsTitle" serializeAs="String">
                <value>Payouts</value>
            </setting>
            <setting name="ReturnTitle" serializeAs="String">
                <value>Return Rate</value>
            </setting>
            <setting name="TimerTitle" serializeAs="String">
                <value>Play Time</value>
            </setting>
            <setting name="SmallBonusTitle" serializeAs="String">
                <value>プチBONUS</value>
            </setting>
            <setting name="SmallTimeTitle" serializeAs="String">
                <value>... since</value>
            </setting>
            <setting name="BigBonusTitle" serializeAs="String">
                <value>BIG BONUS</value>
            </setting>
            <setting name="BigTimeTitle" serializeAs="String">
                <value>... since</value>
            </setting>
            <setting name="AlertTitle" serializeAs="String">
                <value>Alarm</value>
            </setting>
            <setting name="Unk1Title" serializeAs="String">
                <value>?? 1</value>
            </setting>
            <setting name="Unk2Title" serializeAs="String">
                <value>?? 2</value>
            </setting>
            <setting name="LastCOM" serializeAs="String">
                <value>COM5</value>
            </setting>
        </DataCounterTrial.Properties.Settings>
    </userSettings>
</configuration>